# Python Bagian 1

`Variable`, `Operation`, dan `Data Type` pada python

## Content :

1. Variable
2. Tipe Data Primitive<br>
    1. Mengubah Tipe data
3. Operation
4. Tipe Data Pengumpulan
    1. List
    2. Tuple
    3. Set
    4. Dictionary

## Referensi Bacaan

1. Variable : [w3schools](https://www.w3schools.com/python/python_variables.asp)
2. Tipe Data : [w3schools](https://www.w3schools.com/python/python_datatypes.asp)
3. Operation : [w3schools](https://www.w3schools.com/python/python_operators.asp)

**Â© DASCO UNJ 2021**

# 1. Variabel 

Assign Variable dengan bermacam - macam tipe data

In [1]:
nama = "Budi" 
Umur = 34
ipk_1 = 3.22
Laki_laki = True
Ekstrakulikuler_ = None

Assign lebih dari 1 variable dalam 1 line

In [2]:
nama, Umur = "Budi", 34

# 2. Tipe Data 

Mengecek macam - macam tipe data

In [3]:
print("Cek type data nama adalah", type(nama))
print("Cek type data umur adalah", type(Umur))
print("Cek type data ipk_1 adalah", type(ipk_1))
print("Cek type data Laki-laki adalah", type(Laki_laki))
print("Cek type data Ekstrakulikuler adalah", type(Ekstrakulikuler_))

Cek type data nama adalah <class 'str'>
Cek type data umur adalah <class 'int'>
Cek type data ipk_1 adalah <class 'float'>
Cek type data Laki-laki adalah <class 'bool'>
Cek type data Ekstrakulikuler adalah <class 'NoneType'>

## Mengubah tipe data

Mengubah tipe data yang sudah di assign pada suatu variable dapat dilakukan dengan menggunakan `fungsi` atau `class` dari tipe data tujuan seperti contoh di bawah ini

In [4]:
print(float(Umur))
print(int(ipk_1))
print(bool(2))

34.0
3
True

**Penjelasan**

1. Variable `umur` yang bertipe data `int` dirubah menjadi `float` dengan pass `Umur` sebagai parameter dari fungsi `float`
2. Variable `ipk_1` nilainya diubah menjadi `int` dengan ketentuan pengubahan data menjadi `int` dari tipe data `float` akan dilakukan dengan **pembulatan kebawah**
3. Pada line ke 3 diubah tipe data `int` ke boolean dengan ketentuan jika != 0 maka akan dianggap `True` dan jika == 0 maka akan dianggap `False`

# 3. Operation

Operasi - operasi pada python

## Operator Aritmatika

Operator aritmatika berfungsi untuk melakukan operasi peritungan matematika biasa

| Operator | Fungsi |
| :-------------: | :-------------: |
| + | Penambahan	|
| - | Pengurangan |
| *	| Perkalian |
| / | Pembagian |
| % | Moddulo |
| ** | Exponensiasi |
| // | Pembagian dengan pembulatan ke bawah |

In [5]:
num = 101

print("101 ditambah dengan 10 adalah", num + 10)
print("101 dikurang dengan 10 adalah", num - 10)
print("101 dibagi dengan 10 adalah", num / 10)
print("101 modulo 10 adalah", num % 10)
print("101 pangkat 10 adalah", num ** 10)
print("pembulatan ke bawah dari 101 dibagi dengan 10 adalah", num // 10)

101 ditambah dengan 10 adalah 111
101 dikurang dengan 10 adalah 91
101 dibagi dengan 10 adalah 10.1
101 modulo 10 adalah 1
101 pangkat 10 adalah 110462212541120451001
pembulatan ke bawah dari 101 dibagi dengan 10 adalah 10

## Operator Assigment

Operator untuk melakukan assigment ke dalam sebuah variable

| Operator | Fungsi |
| :-------------: | :-------------: |
| = | Assigment biasa |
| += | Penambahan	|
| -= | Pengurangan |
| *= | Perkalian |
| /= | Pembagian |
| %= | Moddulo |
| **= | Exponensiasi |
| //= | Pembagian dengan pembulatan ke bawah |

In [6]:
num = 101

num += 10 # Tambah 10
num -= 10 # Kurang 10
num *= 10 # Kali 10
num /= 10 # Bagi 10
num %= 10 # Modulo 10
num **= 10 # Pangkat 10
num //= 10 # Bagi 10 lalu di bulatkan ke bawah

Dapatkah kamu menebah berapa nilai num sekarang?

Jika sudah yakin dengan tebakanmu bukalah tab di bawah ini

<details>
    <summary>Jawaban</summary>
    Jawabannya adalah <code>0</code>, karena saat <code>num %= 10</code> akan menghasilkan nilai <code>1</code> selanjutnya <code>num **= 10</code> akan menghasilkan nilai <code>1</code> juga dan ketika <code>num //= 10</code> hasilnya adalah <code>0</code> karena <code>0.1</code> di bulatkan kebawah.
</details>

## Operator Perbandingan dan Logical

Operator untuk melakukan perbandingan dan logical, biasa berhubungan erat dengan tipe data boolean

| Operator | Fungsi |
| :-------------: | :-------------: |
| == | Sama dengan |
| != | Tidak sama dengan |
| > | Lebih dari |
| < | Kurang dari |
| >= | Lebih dari sama dengan |
| <= | Kurang dari sama dengan |
| and | Dan |
| or | Atau |
| not | Tidak / Bukan |

In [7]:
num = 101

print('Perbandingan'.center(20, '#'))
print(num == 100)
print(num != 100)
print(num > 100)
print(num < 100)
print(num >= 100)
print(num <= 100)
print()
print('Logical'.center(20, '#'))
print(True and True)
print(True and False)
print(False and False)
print(True or True)
print(True or False)
print(False or False)

####Perbandingan####
False
True
True
False
True
False

######Logical#######
True
False
False
True
True
False

# 4. Tipe Data Sequance

1. List
2. Tuple
3. Set
4. Dictionary

## 1. List

Ciri :

1. Dimulai dengan notasi `[` dan ditutup dengan `]`
2. Mutable
3. Element"nya tidak Unique
4. Tipe data dari element"nya bisa tidak sama

In [8]:
# List 
list1 = [20, 4.5, True, 'buku', 30, 41, 'gula', 8.9]

### Indexing

Memanggil sebuah element atau lebih berdasarkan indexnya

1. Memanggil sebuah element

cara pemanggilan untuk sebuah element dari list adalah

```python
VARIABLE[INDEX]
```

In [9]:
list1[0]  #Menampilkan Indeks

20

2. Memanggil lebih dari satu element

cara pemanggilan lebih dari satu element di list adalah

```python
VARIABLE[INDEX_MULAI:INDEX_STOP+1:LOMPAT**]
```

**Note**

`LOMPAT` bersifat optional/dapat tidak diisi. jika tidak diisi maka default nilai `LOMPAT` adalah `1`

In [10]:
list1[1:5] # Tanpa lopat

[4.5, True, 'buku', 30]

In [11]:
list1[1:6:2] # Dengan Lompat

[4.5, 'buku', 41]

### Mengubah nilai pada sebuah element di dalam list

1. Untuk sebuah element

In [12]:
list1[0] = 0
list1

[0, 4.5, True, 'buku', 30, 41, 'gula', 8.9]

2. Lebih dari satu element

In [13]:
list1[1:2] = [30,29]
list1

[0, 30, 29, True, 'buku', 30, 41, 'gula', 8.9]

3. Menambahkan element pada list

Metode :

1. `append` : Menambahkan element ke posisi terakhir dari list 
2. `insert` : Menambahkan element ke posisi yang spesifik dari list

In [14]:
list1.append('a')
list1.insert(1, 'a')
list1

[0, 'a', 30, 29, True, 'buku', 30, 41, 'gula', 8.9, 'a']

4. Menghapus element pada list

Metode :

1. `pop` : Menghapus element berdasarkan posisi element tersebut dan element yang dihapus akan di `return` sebagai hasil operasi
2. `remove` : Menghapus element berdasarkan nilai dari element tersebut
3. `del` : Menghapus element berdasarkan posisi element tersebut **(tidak dianjurkan)**

In [15]:
print("Sebelum dihapus :", list1)
list1.pop(0) # Menghapus element pertama di list1
list1.pop() # jika tidak di pass parameternya akan otomatis menghapus 
            # element terakhir
hasil_hapusan = list1.pop(3) # Menghapus element ke 4 lalu memasukkannya ke variable
print("Sesudah dihapus :", list1)
print("Contoh assignt nilai pop ke variable :", hasil_hapusan)

Sebelum dihapus : [0, 'a', 30, 29, True, 'buku', 30, 41, 'gula', 8.9, 'a']
Sesudah dihapus : ['a', 30, 29, 'buku', 30, 41, 'gula', 8.9]
Contoh assignt nilai pop ke variable : True

### Terusan

Lebih lanjut tentang perintah - perintah yang ada dalam sebuah list dan lainnya dapat dibaca di

1. [List | w3schools](https://www.w3schools.com/python/python_lists.asp)
2. [List methods | w3schools](https://www.w3schools.com/python/python_lists_methods.asp)

## Tuple

Ciri :

1. Dimulai dengan notasi `(` dan ditutup dengan `)`
2. Imutable
3. Element"nya tidak Unique
4. Tipe data dari element"nya bisa tidak sama

In [16]:
# Tuple
mytuple_1 = ('aku', 2, True, 40, 29)

Karena sifat `tuple` adalah imutable maka element" yang ada di dalamnya tidak bisa dirubah

In [17]:
mytuple_1[0] = 'kamu'

TypeError: 'tuple' object does not support item assignment

akan terjadi error seperti diatas jika mencoba untuk mengubah element yang ada di dalam tuple

### Terusan

Lebih lanjut tentang perintah - perintah yang ada dalam sebuah tuple dan lainnya dapat dibaca di

1. [Tuple | w3schools](https://www.w3schools.com/python/python_tuples.asp)
2. [Tuple methods | w3schools](https://www.w3schools.com/python/python_tuples_methods.asp)

## Set

Ciri :

1. Dimulai dengan notasi `{` dan ditutup dengan `}`
2. Imutable
3. Element"nya Unique
4. Unordered
5. Tipe data dari element"nya bisa tidak sama

In [18]:
myset = {1,1,2,2,1,3,4,5,6,7,8,8,"test"}
myset_1 = {"TEST", 2}
myset

{1, 2, 3, 4, 5, 6, 7, 8, 'test'}

Karena sifat dari set `unordered` maka tidak dapat dilakukan `indexing`

In [19]:
myset[1]

TypeError: 'set' object is not subscriptable

Menggabungkan 2 set

In [20]:
print("Gabungan", myset.union(myset_1))
print("Irisan", myset.intersection(myset_1))

Gabungan {1, 2, 3, 4, 5, 6, 7, 8, 'test', 'TEST'}
Irisan {2}

### Terusan

Lebih lanjut tentang perintah - perintah yang ada dalam sebuah set dan lainnya dapat dibaca di

1. [Set | w3schools](https://www.w3schools.com/python/python_sets.asp)
2. [Set methods | w3schools](https://www.w3schools.com/python/python_sets_methods.asp)

## Dictionary

Ciri :

1. Dimulai dengan notasi `{` dan ditutup dengan `}`
2. Mutable
3. Memiliki `key` dan `value`
4. `key` nya harus unique
5. Tipe data dari element"nya bisa tidak sama

In [21]:
mydictionary = {'Nama': 'Budi', 'Nilai': 80}
mydictionary

{'Nama': 'Budi', 'Nilai': 80}

### Indexing 

Indexing pada dictionary dilakukan dengan menggunakan key nya

```python
VARIABLE[KEY]
```

In [22]:
mydictionary['Nama']     #Mengakses item

'Budi'

### Keys dan Values

Menampilkan semua `key` dan `value` pada dictionary

In [23]:
print("Keys", mydictionary.keys())
print("Values", mydictionary.values())

Keys dict_keys(['Nama', 'Nilai'])
Values dict_values(['Budi', 80])

Menampilkan pasangan key dan valuenya menjadi tuple

In [24]:
mydictionary.items()

dict_items([('Nama', 'Budi'), ('Nilai', 80)])

### Terusan

Lebih lanjut tentang perintah - perintah yang ada dalam sebuah dictionary dan lainnya dapat dibaca di

1. [Dictionary | w3schools](https://www.w3schools.com/python/python_dictionaries.asp)
2. [Dictionary methods | w3schools](https://www.w3schools.com/python/python_dictionaries_methods.asp)